body{
    background-color: teal;
}

.titulos{
    color:blue;
    text-align: center;
}

p{
    color: blue;
    font-family: "Jazz LET";
    font-size: 25px;
    text-align: left;
}

footer{
    background-color: grey;
}

.derechos{
    color: white;
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 20px;
}

div{
    text-align: center;
}