
img{
  width: 1900px; 
  height: 700px;
}

h1{
    color:green;
    text-align: center;
}
h2{
    color: green;
}
p{
    font-family: "Comic Sans MS";
    font-size: 20px;
    color:green;
    text-align: justify;
}

footer{
    text-align: center;
    color: white;
    background-color: grey;
}

.famili{
    color: white;
    text-align: center;
    font-family: "Brush Script MT";
}



div{
    text-align: center;
}
